:root {
    /* Media Queries */
      --mobile: 375px;
      --desktop: 1440px;
    
    /* Colors */
      --light-cyan: hsl(193, 38%, 86%);
      --neon-green: hsl(150, 100%, 66%);
      --grayish-blue: hsl(217, 19%, 38%);
      --dark-grayish-blue: hsl(217, 19%, 24%);
      --dark-blue: hsl(218, 23%, 16%);
    
    /* Typography */
      --body-font-size: 24px;
      --font-family: 'Manrope', sans-serif;
      --font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--dark-blue);
}

h1, h2, h3, h4 {
    color: var(--neon-green);
}

p {
    font-size: var(--body-font-size);
    font-weight: 700;
    color: var(--light-cyan);
}

.container {
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-block {
    max-width: 348px;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    background-color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: 700;
}

.advice-text {
    margin: 1.5rem 0;
    text-align: center;
}

.divider-img {
    margin-bottom: 2rem;
}
.divider-img.desktop {
    display: none;
}

.button-block {
    border-radius: 50%;
    background-color: var(--neon-green);
    min-width: 66px;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.1s ease;
}

.button-block:hover,
.button-block:active,
.button-block:focus {
    box-shadow: 0 0 36px var(--neon-green);
}

@media (min-width: 1440px) {
    .content-block {
        max-width: 544px;
        min-width: 544px;
    }
    .advice-text {
        font-size: 28px;
    }
    .divider-img.mobile {
        display: none;
    }
    .divider-img.desktop {
        display: block;
    }
}

